.fd
{
    width: 50%;
}
.gf
{
    padding-left: 30%;
}
.fg
{
    padding-left: 40%;
    width: 200px;
    height: 100px;
}
.table
{
    padding-left :70px;
}
.sd
{
    width: 30px;
}